.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    max-width: 400px;
    width: 100%;
    background-color: gold;
    border-radius: 10px;
    padding-top: 30px;
    z-index: 100;
}

.dialog__close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 16px;
    cursor: pointer;

}

.dialog__form {
    display: grid;
    gap: 20px;
}

.dialog__input,
.dialog__message {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;


}

.dialog__message {
    height: 100px;
    resize: none;
}

.dialog__send {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
}

.dialog__send:hover {
    box-shadow: 7px 11px 15px rosybrown;
}

.dialog[open]+.overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}