.footer {
    padding-top: 40px;
    padding-bottom: clamp(1.875rem, 0.2679rem + 8.0357vw, 7.5rem);
    ;
}

.footer__container {
    text-align: center;



}

.social-list {
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

}

.social-list__item {
    padding-top: 12px;

}

.social-list__icon {

    width: 40px;
    height: 40px;
}

.footer__text {
    background-color: #efe8e8;
}

.footer__text:hover {
    background-color: aqua;
}